body {
    background-color: rgb(255, 230, 161);
}


/* perspective transition etc fentre ouverture calendrier */

fieldset {
    border-radius: 25px;
    border-width: 7px;
    border-style: ridge;
    border-color: red;
    /* border-bottom-color: silver;
    border-left-color: silver;
    border-top-color: white; 
    border-right-color: white;  */
    background-image: url("img_noel/background5.jfif");
    background-repeat: no-repeat;
    background-size: cover;
}


legend {
    font-weight: bold;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 59, 59);
    text-shadow: 0.1em 0.2em 0.2em black,
    -0.1em -0.1em 0.1em black;
    

}





/* MISE EN PLACE DES COLONNES  */

.cases {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.2em;
    font-family: fantasy;
}


/* .colonne1 {
    
    display:flex;
    flex-direction: column;
    flex: 1 1 2px;
}


.colonne2 {
    
    display:flex;
    flex-direction: column;
    flex: 1 1 2px; 
}


.colonne3 {

    display:flex;
    flex-direction: column;
    
} */



/* CASE DE NOEL  */

.Noel {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    
}


/* BOUTONS */

.boutnorm {
    
    /* background-color: #d1c6d1a1;
    border-radius: 50px;
    border: 4px  #cccccc;
    color: #b48686;
    text-align: center;
    font-size: 15px;
    padding: 7px;
    width: 100px;
    margin: 8px;
    font-family: cursive;
    outline: none; */
    background-color: rgba(255, 255, 255, 0);
    border: none;
}




.boutnorm:hover {
    /* background-color: rgb(238, 233, 163); */
    border-radius: 50px;
    border-width: 7px;
    border-style: dotted;
    border-color: rgb(87, 86, 86);
    }



.boutnoel {
    /* background-color: #5f5f5f7a;
    border-radius: 60px;
    border: 2px  #110a0a;
    color: #8a3f3f;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 1100px;
    margin: 10px;
    font-family: cursive;
    outline: none; */
    background-color: rgba(255, 255, 255, 0);
    border: none;

}   

.boutnoel:hover {
    border-radius: 50px;
    border-width: 7px;
    border-style: dotted;
    border-color: rgb(87, 86, 86);
}

.images {
    display: none;
}

.merci {
    text-align: right;
    font-size: small;
    color: grey;
}